<div class="container-fluid theme-showcase" role="main">
  <div class="col-sm-10 col-sm-offset-1">
    <h1>CS360: Jassem Visualizer</h1>
  </div>

  <div class="col-sm-10 col-sm-offset-1 text-center">
    <p>Assembly language created for educational use by <a target="-_blank" href="//web.eecs.utk.edu/~plank/">Dr. James Plank</a>, Computer Science professor at <a target="_blank" href="//www.utk.edu">University of Tennessee, Knoxville</a>.<br>
      Visualizer modified for web by Chris Martin, COSC 360, Spring 2016, University of Tennessee, Knoxville.</p>
  </div>

  <div class="col-sm-6 col-sm-offset-3 well text-center">
    <p><div>Enter your complete J-Assembly program in the text box below and then press compile.<br>
    Use the buttons below to step forwards, step backwards, animate, and reset. <br>
    There is a convenience textbox to the side for any C code needed for reference.</div></p>
  </div>

  <!-- Buttons -->
  <div class="col-sm-12 text-center">
    <button type="button" class="btn btn btn-primary" ng-click="main.compile()">Compile</button>
    <button type="button" class="btn btn btn-default" ng-click="main.stepForward()">Step Forwards</button>
    <button type="button" class="btn btn btn-default" ng-click="main.stepBackward()">Step Backwards</button>
    <button type="button" class="btn btn btn-default">Animate</button>
    <button type="button" class="btn btn btn-danger">Reset</button>
    <button type="button" class="btn btn btn-danger" ng-click="main.letThereBeVIM()">VIM!</button>
  </div>

  <!--<div ng-if="main.error" class="col-sm-12 text-center alert alert-danger" role="alert">{{main.error}}</div>-->

  <!-- Visualizer -->
  <div  style="margin-bottom: 40px;">
    <div ng-class="{alert: main.error, 'alert-danger': main.error}" class="col-sm-12 text-center" role="alert">
      <div ng-if="main.error" class="col-sm-12 text-center" style="margin-bottom: 40px; font-size: xx-large;">{{main.error}}</div>
      <div class="col-sm-4">
        <h4 class="text-center">Stack</h4>
        <table class="col-xs-12" style="margin-bottom: 20px;">
          <tr ng-repeat="stackVar in main.memory.stack">
            <td>{{stackVar.address | hex}}</td>
            <td class="boxEntry">{{stackVar.value | hex}}</td>
          </tr>
        </table>
      </div>
      <div class="col-sm-4">
        <h4 class="text-center">Step</h4>
        <table class="col-xs-12" style="margin-bottom: 20px;">
          <tr>
            <td>CSR</td>
            <td class="boxEntry">0x0</td>
          </tr>
        </table>
        <h4 class="text-center">Registers</h4>
        <table class="col-xs-12" style="margin-bottom: 20px;">
          <tr>
            <td>r0</td>
            <td class="boxEntry">{{main.memory.r0 | hex}}</td>
          </tr>
          <tr>
            <td>r1</td>
            <td class="boxEntry">{{main.memory.r1 | hex}}</td>
          </tr>
          <tr>
            <td>r2</td>
            <td class="boxEntry">{{main.memory.r2 | hex}}</td>
          </tr>
          <tr>
            <td>r3</td>
            <td class="boxEntry">{{main.memory.r3 | hex}}</td>
          </tr>
          <tr>
            <td>r4</td>
            <td class="boxEntry">{{main.memory.r4 | hex}}</td>
          </tr>
          <tr>
            <td>sp</td>
            <td class="boxEntry">{{main.memory.sp | hex}}</td>
          </tr>
          <tr>
            <td>fp</td>
            <td class="boxEntry">{{main.memory.fp | hex}}</td>
          </tr>
          <tr>
            <td>pc</td>
            <td class="boxEntry">{{main.memory.pc | hex}}</td>
          </tr>
        </table>
        <h4 class="text-center">Globals</h4>
        <table class="col-xs-12" style="margin-bottom: 20px;">
          <tr ng-repeat="globalVar in main.memory.global">
            <td>{{globalVar.address | hex}}</td>
            <td class="boxEntry">{{globalVar.value | hex}}</td>
          </tr>
        </table>
      </div>
      <div class="col-sm-4">
        <h4 class="text-center">Code</h4>
        <table class="col-xs-12" style="margin-bottom: 20px;">
          <tr ng-repeat="stackVar in main.memory.stack">
            <td>{{stackVar.address | hex}}</td>
            <td class="boxEntry">{{stackVar.value | hex}}</td>
          </tr>
        </table>
      </div>
    </div>

  </div>


   <!--Code Boxes-->
  <div class="col-sm-10 col-sm-offset-1 row">
    <div class="col">
      <h3><center>Assembly Code</center></h3>
    </div>
    <div class="col">
      <h3><center>C Code</center></h3>
    </div>
  </div>
  <div class="col-sm-10 col-sm-offset-1 row" style="margin-bottom: 20px;">
    <section style="border-style: solid; border-width: 1px;" class="col-sm-6">
      <ui-codemirror ui-codemirror-opts="main.assemblyEditorOptions" ng-model="main.assemCode"></ui-codemirror>
    </section>
    <section style="border-style: solid; border-width: 1px;" class="col-sm-5 col-sm-offset-1">
      <ui-codemirror ui-codemirror-opts="main.cCodeEditorOptions" ng-model="main.cCode"></ui-codemirror>
    </section>

  </div>

  <script>
    var mac = CodeMirror.keyMap.default == CodeMirror.keyMap.macDefault;
    CodeMirror.keyMap.default[(mac ? "Cmd" : "Ctrl") + "-Space"] = "autocomplete";
  </script>
</div>
